.background-container_plan {
  background-image: url("../../images/flesh.jpg");
}
.btn-container_plan {
  justify-content: space-between;
}
.btn-container_plan .btn_back_home {
  margin-right: 7px;
}
.btn-box_right {
  display: flex;
}
.btn_edit_plan {
  margin-right: 3px;
}
.btn_edit_plan-to-log {
  margin-left: 3px;
}